<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css" />
    <script src="jquery-3.6.0.js"></script>
    <script src="myscript.js"></script>
    <script src="https://kit.fontawesome.com/af4a7650ee.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <i class="fa-solid fa-bars"></i>
        <img class="logo" src="Replication 2 images/logo.jpg" alt="Logo">
        <img class="ad" src="Replication 2 images/ad.jpg" alt="ad">
        <nav id="header_menu" class="nav">
            <a href="#Tools">Tools<span class="chevron"></span></a>
            <a href="#pro" class="pro">Go Pro</a>
            <div class="divider"></div>
            <a href="#">Sign in</a>
            <button id="sign_up">Sign Up</button>
        </nav>
    </header>
    <img id='troll' src="Replication 2 images/subheader.jpg">
    <div id="generate_colors">
        <div class="generated_color">
            <div class="functions">
                <button class="fa-solid fa-x"></button>
                <button class="fa-solid fa-table-cells"></button>
                <button class="fa-regular fa-heart"></button>
                <button class="fa-solid fa-arrows-left-right"></button>
                <button class="fa-solid fa-arrows-up-down"></button>
                <button class="fa-regular fa-clone"></button>
                <button id="0" class="fa-solid fa-unlock" onclick="changelogo(this.id)"></button>
            </div>
            <h2 class="code"></h2>
            <h3 class="colorname"></h3>
        </div>
        <div class="generated_color">
            <div class="functions">
                <button class="fa-solid fa-x"></button>
                <button class="fa-solid fa-table-cells"></button>
                <button class="fa-regular fa-heart"></button>
                <button class="fa-solid fa-arrows-left-right"></button>
                <button class="fa-solid fa-arrows-up-down"></button>
                <button class="fa-regular fa-clone"></button>
                <button id="1" class="fa-solid fa-unlock" onclick="changelogo(this.id)"></button>            </div>
            <h2 class="code"></h2>
            <h3 class="colorname"></h3>
        </div>
        <div class="generated_color">
            <div class="functions">
                <button class="fa-solid fa-x"></button>
                <button class="fa-solid fa-table-cells"></button>
                <button class="fa-regular fa-heart"></button>
                <button class="fa-solid fa-arrows-left-right"></button>
                <button class="fa-solid fa-arrows-up-down"></button>
                <button class="fa-regular fa-clone"></button>
                <button id="2" class="fa-solid fa-unlock" onclick="changelogo(this.id)"></button>            </div>
            <h2 class="code"></h2>
            <h3 class="colorname"></h3>
        </div>
        <div class="generated_color">
            <div class="functions">
                <button class="fa-solid fa-x"></button>
                <button class="fa-solid fa-table-cells"></button>
                <button class="fa-regular fa-heart"></button>
                <button class="fa-solid fa-arrows-left-right"></button>
                <button class="fa-solid fa-arrows-up-down"></button>
                <button class="fa-regular fa-clone"></button>
                <button id="3" class="fa-solid fa-unlock" onclick="changelogo(this.id)"></button>            </div>
            <h2 class="code"></h2>
            <h3 class="colorname"></h3>
        </div>
        <div class="generated_color">
            <div class="functions">
                <button class="fa-solid fa-x"></button>
                <button class="fa-solid fa-table-cells"></button>
                <button class="fa-regular fa-heart"></button>
                <button class="fa-solid fa-arrows-left-right"></button>
                <button class="fa-solid fa-arrows-up-down"></button>
                <button class="fa-regular fa-clone"></button>
                <button id="4" class="fa-solid fa-unlock" onclick="changelogo(this.id)"></button>            </div>
            <h2 class="code"></h2>
            <h3 class="colorname"></h3>
        </div>
    </div>
    <div id="container" class="container">
        <div class="popup">
            <img id="check" src="Replication 2 images/check.jpg"><span class="popuptext">Color copied to the clipboard!</span>
        </div>
    </div>
    <div class="footer">
        <button onclick="startcolor()" class="generate">Generate</button>
        <img id="foot" src="Replication 2 images/footer.jpg">
    </div>
</body>